@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;500;600;700;800&display=swap');


* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
}

body {
  font-family: "Be Vietnam Pro", sans-serif;
  background: #f3f4f6;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

input,
button,
select,
textarea {
  font: inherit;
}